html {
    background-color: #EBEBEB;
}
body {
    padding: 20px;
}

h1 {
    color: red;
}

.content h2 {
    color: darkslategrey;
    margin-bottom: 30px;
}

.box {
    background-color: #F7F7F7;
}

.text-updated {
    background-color: olivedrab;
    color: whitesmoke;
}
